bin/
.idea
.idea/
.metadata
.metadata/
.settings
.springBeans
.sass-cache/
target
.svn
*.log
*.log.*
*.iml
*.ipr
*.ids
*.iws
git.properties
/release.properties
pom.xml.releaseBackup
*.db
repository.xml
/repository/
src/main/webapp/spa
*.exe
.project
.classpath
.externalToolBuilders/org.eclipse.wst.jsdt.core.javascriptValidator.launch
ut_i_install.log
ut_i_spool_temp.sql
.DS_Store
ut_i_spool_temp.sqlspa
src/main/resources/rebel.xml
.externalToolBuilders/
/target/
/target
maven-eclipse.xml